@font-face {
  font-family: "iconfont"; /* Project id 3185775 */
  src: url('iconfont.eot?t=1644979041275'); /* IE9 */
  src: url('iconfont.eot?t=1644979041275#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1644979041275') format('woff2'),
       url('iconfont.woff?t=1644979041275') format('woff'),
       url('iconfont.ttf?t=1644979041275') format('truetype'),
       url('iconfont.svg?t=1644979041275#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-31dianpu:before {
  content: "\e600";
}

.icon-shouye:before {
  content: "\e626";
}

.icon-geren:before {
  content: "\e653";
}

.icon-qian:before {
  content: "\e67c";
}

.icon-icon_home:before {
  content: "\e613";
}

.icon-qian1:before {
  content: "\e640";
}

.icon-geren1:before {
  content: "\e641";
}

.icon-suoding:before {
  content: "\e8d4";
}

.icon-dingdanjihe:before {
  content: "\e897";
}

.icon-xiugaidingdan:before {
  content: "\e8f2";
}

.icon-kejian:before {
  content: "\e624";
}

.icon-bukejian:before {
  content: "\e607";
}

.icon-tongjifenxi-changguitongji:before {
  content: "\e627";
}

.icon-shangpin:before {
  content: "\e614";
}

